.env
.git
.github
.gitignore
.firebaserc
firebase.json
node_modules
vendor
storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
Dockerfile
.dockerignore
frontend/node_modules
frontend/dist
